@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Pacifico&display=swap");

body {
  background-color: #f8f9fa;
}
.card {
  border-radius: 10px;
}
.navbar {
  border-bottom: 1px solid #ddd;
}
.footer {
  text-align: center;
  padding: 20px;
  font-size: 14px;
  color: #6c757d;
}

#correct-txt {
  background: rgb(121, 243, 121);
}

#wrong-txt {
  background: rgb(245, 131, 131);
}

.no-select {
  user-select: none; /* Prevent text selection */
  pointer-events: none; /* Prevent interaction */
  background-color: #f0f0f0; /* Optional: Gray out */
}

#performanceSummary {
  display: none;
}

.navbar-brand {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
}

.navbar .text-muted {
  font-family: "Pacifico", cursive;
  font-size: 1.25rem;
}

.tooltip-inner {
  white-space: nowrap;
  max-width: none;
  width: auto;
  text-align: left;
}
